body {
    font-family: sans-serif;
}
header{
    background-color: #FF7400;
    padding: 20px;
}
footer{
    background-color: #FF7400;
    padding: 10px;
}
main p{
    background-color: #5ccccc8f;
}
footer p{
 background-color: #FFB273;
 padding: 5px;
}
